/**
 * Basic Style
 */
$break-phone: 768px;
$break-tablet: 992px;
$break-comp: 1300px;
$break-comp-large: 1301px;


/*
$c-basic: #00ac8a;
$c-dark: #007e65;
$c-light: #40c6ab;
$c-pale: #6ad8c2;

$c-blue-basic: #0872ab;
$c-blue-dark: #06537d;
$c-blue-light: #4799c5;
$c-blue-pale: #70b3d7;*/


/**
 * MOUNT GEO
 */
$color-blue-basic: #0f75bc;
$color-blue-light: #4799c5;
$color-green-light: #40c6ab;
$color-green-dark: #007e65;
$color-green-basic: #67c23a;
$black-color: #2d2f33;
$black-light-color: #CBCACA;
$hr-border-separator: #dfe4ed;

$route-path: #dd12bf;