/**
 * Auth - Header
 * > float nav-links right & style links
 * > logo
 * > hide elements on phone size
 */
.el-menu-header {
    border-bottom: solid 1px $black-light-color;
    ul {
        width: 180px;
        float: right;
    }
    .el-menu--horizontal {
        border-right: none;
        border-bottom: none;

        .el-menu-item {
            height: 35px;
            line-height: 35px;
            font-weight: bold;
        }
    }
}

.el-header-logo {
    a {
        h3 {
            font-family: 'Ceviche One';
            margin-top: 10px;
        }
        img {
            float: right;
            margin-top: 10px;
        }
    }
    a:hover {
        text-decoration: none;
        color: $color-blue-light;
        cursor: pointer;
    }
}


.el-hidden-phone {
    @media screen and (max-width: $break-phone) {
        display: none !important;
    }
}