/**
 * Auth - LoginRegister
 * > login & register
 * > validate & errors
 */
.el-form-enter {
    width: 400px;
}

.el-input {
    margin-bottom: 10px;
}

.el-button {
    width: 100%;
}

.help.is-danger {
    color: red;
}

.help {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}