/**
 * Home - Footer - Information - Database
 * > database tabs
 * > center title
 * > select (input) fields for mountain & route
 * > full route route info styling
 * > full route stories styling (collapse)
 */
.el-info-database-tabs {

    .el-tabs__nav {
        width: 100%;

        .el-tabs__item {
            width: 33%;
            text-align: center;
            font-weight: bold;
        }
    }
}

.el-database-title {
    text-align: center;
}
.el-select-database {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.el-full-route {
    h5 {
        margin-top: 15px;
        font-weight: bold;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.el-collapse-item-title {
    border-bottom: 1px solid #e6ebf5;
}

.el-collapse-item__header {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.el-collapse-item-story {
    margin-left: 10px;
    margin-right: 10px;
}

.el-tag {
    margin-left: 10px !important;
}